* {
  outline: 0;
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  box-sizing: inherit;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Regular.ttf') format('truetype'),
    url('../fonts/Roboto-Medium.ttf') format('truetype'),
    url('../fonts/Roboto-MediumItalic.ttf') format('truetype'),
    url('../fonts/Roboto-Italic.ttf') format('truetype'),
    url('../fonts/Roboto-Bold.ttf') format('truetype'),
    url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body,
html {
  background: #EEEEEE;
  color: #333;
  font-family: Roboto;
  font-size: 16px;
}

input,
textarea,
button {
  font-family: Roboto;
}


.app-title {
  background: #FFB300;
}

.app-background {
  border: 2px dashed #B0BEC5;
  height: 500px;
}

.file-upload-content {
  display: none;
}

.file-upload-input {
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap:hover {
  background-color: #B0BEC5;
}

.action-button {
  display: none;
}

.action-button.active {
  display: flex;
}

.add-heart,
.remove-background {
  font-size: 22px;
  color: #B0BEC5;
  transition: all 0.2s ease-in-out;
}

.add-heart:hover,
.remove-background:hover {
  color: #333;
}

.heart-draggable {
  width: 18px;
  height: 18px;
  padding: 2px 3px 5px 5px;
  z-index: 9999;
  top: 20px;
  left: 10px;
  position: relative;
  outline: 1px solid #fff;
  cursor: pointer;
}

.heart-draggable-text {
  top: -35px;
  left: 10px;
  width: 150px;
  border-radius: 7px 7px 7px 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  transition-delay: 0.2s;
}

.heart-draggable:hover .heart-draggable-text {
  opacity: 1;
  visibility: visible;
}

.heart-draggable-text::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 15px;
  height: 15px;
  background: #6c757d;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.heart-draggable-action {
  top: 35px;
  right: 0;
  border-radius: 0 7px 7px 7px;
  z-index: -1;
}

.heart-draggable-action::before {
  content: '';
  position: absolute;
  left: 0;
  top: -10px;
  width: 15px;
  height: 15px;
  background: #6c757d;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.draggable-action-icon {
  color: #eee;
  padding: 5px 4px;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
}

.draggable-action-icon:hover {
  color: #fff;
}